
/* Estilo principal de la página
================================= */
.container {
  margin-top: 5%;
  display:flex;
}


/* .padrino (div)
================================= */

.padrino {
  margin-left: 3%;
  display: inline-flex;
  margin-right: auto;
}


/* Número de la película de la lista
================================= */
.padrino span {
  vertical-align: top;
  margin-right: 1%;
  text-decoration-style: solid;
  font-weight: bold;
  font-size: 24px;
}


/* Barra vertical
================================= */
.hbar {
  margin-bottom: 10%;
}



/* El títlo y descripción
================================= */
 .title {
  float: right;
  margin-right: 2%;
  margin-left: 3%;
  text-align: justify;
}


/* enlace del título de la película
================================ */
.href {
  text-decoration: none;
}


/* Línea horizontal
============================== */
hr {
  margin-right: 1%;
}


/* Contador de visualizaciones
============================== */
.number {
  margin-top: 7%;
  position: absolute;
  right: 47%;
}

.number p {
  border: 5px;
}


/* Puntuación
==================== */
.box {
  font-size: 30px;
  background: #447CAD;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: -1px;
  width: 2em;
  height: 1.8em;
  margin: 0px 5px 0px auto;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #447CAD;
  display: inline-block;
  margin-right: 5px;

}

.calification {
  margin-top: 12%;
}


.count {
  letter-spacing: -.5px;
  white-space: nowrap;
  font-size: 18px;
  text-align: center;
  color: #888888;
  padding: 2px 1px;
}

.icon {
  display: inline-flex;
  margin-top: 10%;
}
